*, ::before, ::after {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: #1C1C24;
}

#main-cont {
    width: 100%;
    height: 100%;
}

#form-cont {
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 1px solid #444A62;
}

/* forms */
.title-cont {
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title {
    background-color: orange;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
.input-cont {
    background-color: green;
}
.label {
    color: #fff;
    font-size: 0.9rem;
    color: #444A62;
}
input {
    background-color: #22242C;
    border: 1px solid #444A62;
    border-radius: 0.3em;
    width: auto;
    height: 40px;
    padding-inline-start: 10px;
    outline: none;
    color: #fff;
    font-size: 0.9rem;
}